body,p {font-family: 'Courier New', Courier, monospace;}

h1,h3 {text-align: center;
       }
h1 {font-style: italic;
    background-color: rgba(47, 67, 177, 0.842);}
h3 {background-color: rgba(43, 182, 170, 0.74);}
.politia {display: block;
          width: auto;
          height: 170px;
          margin-right: auto;
          margin-left: auto;}

.back {text-align: center;
       background-color: black;
       color: white;
       display: block;
    }

p {text-align: center;
   background-color: grey;
   color: white;
   font-size: 18px}

ul,ol {background-color: rgba(189, 40, 202, 0.623);}

